@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
* {
  scroll-behavior: smooth;
  font-family: 'Viga', sans-serif;
}

a{
  color: white;
}

a:hover{
  text-decoration: none;
  color: #aaa;
}